##  Dataframe & Series Basics (Selecting Rows & Columns)

In [1]:
import pandas as pd

**Python Dictionary**

In [13]:
people = {
    'first': ['Corey', 'Jane', 'John'],
    'last': ['Schafer', 'Doe', 'Doe'],
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

*Keys -> Columns  &  Values -> Rows*

In [14]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']

**Converting Dictionary into Pandas Dataframe**

In [15]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [16]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
2          JohnDoe@gmail.com
Name: email, dtype: object

In [17]:
type(df['email'])  # 1-dim array -> Rows of a single column,   Also has indices like Dataframe

pandas.core.series.Series

*=> Dataframe = Container for multiple series objects*

In [18]:
df.email  # Different Syntax (less preferred as column name could be same as attribute/method name of dataframe)

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
2          JohnDoe@gmail.com
Name: email, dtype: object

**Accessing specific multiple column(s) in a Dataframe**

In [20]:
df[['last', 'email']]  # Not a series anymore, it's Dataframe now

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@gmail.com
2      Doe        JohnDoe@gmail.com

**.columns** gives all the columns in a dataframe

In [21]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

**Accessing specific multiple row(s) in a Dataframe**

**.iloc[2]** gives row at 2nd index & all columns

In [34]:
df.iloc[2]  # returns indices as column  names of the dataframe

first                 John
last                   Doe
email    JohnDoe@gmail.com
Name: 2, dtype: object

**.iloc[0,1]** gives row at 1st, 2nd index & all columns

In [24]:
df.iloc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com

In [27]:
df.iloc[0:2]    # SAME as ABOVE

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com

**.iloc[ [0,1], 2 ]** gives row at 1st, 2nd index & column at 2nd index

In [29]:
df.iloc[[0,1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
Name: email, dtype: object

In [33]:
df.loc[0]  # Same as df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

**.loc[ [0,1], 'email' ]** gives row at 1st, 2nd index & column labelled 'email'

In [30]:
df.loc[[0,1], 'email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
Name: email, dtype: object

**.loc[ [0,1], ['email','last] ]** gives row at 1st, 2nd index & columns labelled 'email' & 'last'

In [35]:
df.loc[[0,1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@gmail.com      Doe