## Indexes (Set & Reset Index)

In [24]:
import pandas as pd

In [25]:
people = {
    'first': ['Corey', 'Jane', 'John'],
    'last': ['Schafer', 'Doe', 'Doe'],
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

In [26]:
df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [27]:
df.index

RangeIndex(start=0, stop=3, step=1)

**.set_index('email')** sets *email* column as the index for the dataframe

In [28]:
df.set_index('email', inplace=True)
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@gmail.com         Jane      Doe
JohnDoe@gmail.com         John      Doe

In [29]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com'], dtype='object', name='email')

In [30]:
df.iloc[1]

first    Jane
last      Doe
Name: JaneDoe@gmail.com, dtype: object

In [31]:
df.loc['JaneDoe@gmail.com']

first    Jane
last      Doe
Name: JaneDoe@gmail.com, dtype: object

In [32]:
df.loc['JaneDoe@gmail.com', 'last']

'Doe'

**.reset_index( )** resets back to the original indices.

In [33]:
df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@gmail.com   Jane      Doe
2        JohnDoe@gmail.com   John      Doe