## Filtering

In [20]:
import pandas as pd

In [21]:
people = {
    'first': ['Corey', 'Jane', 'John'],
    'last': ['Schafer', 'Doe', 'Doe'],
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

In [22]:
df = pd.DataFrame(people)
df.head()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

**Filter (with single condition)**

In [23]:
filt = (df['last'] == 'Doe')  # returns a series object with boolean values according to the filtered criteria
filt

0    False
1     True
2     True
Name: last, dtype: bool

In [24]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

**It's a good practice to filter with *.loc[filt]* as we can grab the specific columns with it.**

In [25]:
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@gmail.com
2  John  Doe  JohnDoe@gmail.com

In [26]:
df.loc[filt, 'email']

1    JaneDoe@gmail.com
2    JohnDoe@gmail.com
Name: email, dtype: object

**Filter (with more than one condition)**

In [31]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')
df.loc[filt, 'email']

2    JohnDoe@gmail.com
Name: email, dtype: object

In [32]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')
df.loc[filt, 'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@gmail.com
Name: email, dtype: object

**~filt negates the filt**

In [34]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')
df.loc[~filt, 'email']  # ~ negates the filter

1    JaneDoe@gmail.com
Name: email, dtype: object