## Sorting Data

In [2]:
import pandas as pd

In [10]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Adam'],
    'last': ['Schafer', 'Doe', 'Doe', 'Doe'],
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com', 'A@gmail.com']
}

In [11]:
df = pd.DataFrame(people)
df.head()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com
3   Adam      Doe              A@gmail.com

**Sorting values by *last* column in ascending order**

In [12]:
df.sort_values(by='last')  # by-default sorts

   first     last                    email
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com
3   Adam      Doe              A@gmail.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

**Sorting values by *last* column in descending order**

In [13]:
df.sort_values(by='last', ascending=False)  # sorts by 'last' column in descending order

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com
3   Adam      Doe              A@gmail.com

**Sorting values by *last* & then by *first* column in descending order**

In [14]:
df.sort_values(by=['last', 'first'], ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
3   Adam      Doe              A@gmail.com

**Sorting values first by *last* column in descending order & then by *first* in ascending order**

In [18]:
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)  
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

**Sorting the index**

In [20]:
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com
3   Adam      Doe              A@gmail.com

**Sorting a series or a column**

In [21]:
df['last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object