## Updating Rows & Columns within Dataframe

In [1]:
import pandas as pd

In [2]:
people = {
    'first': ['Corey', 'Jane', 'John'],
    'last': ['Schafer', 'Doe', 'Doe'],
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

In [3]:
df = pd.DataFrame(people)
df.head()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [5]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

**Updating all column names**

In [6]:
df.columns =  ['first_name', 'last_name', 'email']
df.head()

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

**Updating all columns to uppercase**

In [8]:
df.columns = [ column.upper() for column in df.columns]
df.head()

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

**Updating all columns having ' _ ' replaced with SPACE**

In [9]:
df.columns = df.columns.str.replace('_', ' ')
df.head()

  FIRST NAME LAST NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [10]:
df.columns = [ column.lower() for column in df.columns]
df.head()

  first name last name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

**Updating specific column names**

In [12]:
df.rename(columns={'first name': 'first', 'last name': 'last'}, inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

**Updating a whole row**

In [14]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@gmail.com']
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith      JohnSmith@gmail.com

**Updating specific columns in a row**

In [15]:
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@gmail.com']
df.head()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

**Updating a column in a row *(can be done w/ either .loc[ ] or .at[ ])***

In [16]:
df.loc[2, 'last'] = 'Smith'
df.head()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith        JohnDoe@gmail.com

In [17]:
df.at[2, 'last'] = 'Doe'
df.head()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

> ### Mistake

In [18]:
filt = (df['email'] == 'JohnDoe@gmail.com')
df[filt]

  first last              email
2  John  Doe  JohnDoe@gmail.com

In [19]:
 df[filt]['last']

2    Doe
Name: last, dtype: object

***We can't assign value w/o .loc[ ] or .at[ ]***

In [20]:
 df[filt]['last'] = 'Smith'

C:\Users\tmsan\AppData\Local\Temp\ipykernel_10864\1679521530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last'] = 'Smith'

In [21]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [23]:
df.loc[filt, 'last'] = 'Smith'  
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith        JohnDoe@gmail.com

**Updating multiple rows of a column**

In [25]:
df['email'] = df['email'].str.lower()
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John    Smith        johndoe@gmail.com

### Methods to update row(s)
- apply
- map
- applymap
- replace

**1. apply *(works w/ series & dataframe but in a different way)***