## Sorting Data

In [2]:
import pandas as pd

In [10]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Adam'],
    'last': ['Schafer', 'Doe', 'Doe', 'Doe'],
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com', 'A@gmail.com']
}

In [11]:
df = pd.DataFrame(people)
df.head()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com
3   Adam      Doe              A@gmail.com

**Sorting values by *last* column**

In [12]:
df.sort_values(by='last')  # by-default sorts in ascending order

   first     last                    email
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com
3   Adam      Doe              A@gmail.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [13]:
df.sort_values(by='last', ascending=False)  # sorts by 'last' column in descending order

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com
3   Adam      Doe              A@gmail.com

In [14]:
df.sort_values(by=['last', 'first'], ascending=False)  # sorts by 'last' & then by 'first' column in descending order

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
3   Adam      Doe              A@gmail.com

In [ ]:
df.sort_values(by=['last', 'first'], ascending=False)  # sorts by 'last' & then by 'first' column in descending order